.env
.DS_Store
__pycache__/
*.pyc
backend/__pycache__/
frontend/front-tom-hanks/node_modules/
frontend/front-tom-hanks/dist/
frontend/front-tom-hanks/.angular/
frontend/front-tom-hanks/.cache/
frontend/front-tom-hanks/coverage/
venv/
backend/static/
